@use '../settings/color' as color;
@use '../settings/font-family' as font-family;
@use '../tools/media-queries' as media-queries;

html {
  font-family: font-family.$opensans;
  color: color.$black;
  font-size: 10px;
  font-feature-settings: 'palt';
  @media screen and (max-width: 980px) {
    min-width: 980px;
  }
  @include media-queries.sp {
    min-width: 100%;
  }
}
