$black: #000;
$white: #fff;
$gray: #807a79;
$gray-b7b: #b7b7b785;

$primary: #f79500;
$orange-ff6: #ff6f00;
$orange-f7b: #f7be6d;
$orange-ff7: #ff7c52;
$tangerine: #fa9e64;
$yellow: #ebb652;
$blue-053: #053f5c;
$oasis: #fce7cc;
$wild-sand: #e8e5e0;
$turquoise: #00ecc2;