@use '../settings/color' as color;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.about {
  background-color: color.$orange-f7b;
  border-radius: 0 0 30px 30px;

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 0;
    @include mq.mx1200 {
      padding: 80px 5%;
    }
    @include mq.sp {
      padding: 40px 5%;
    }
  }

  &__heading {
    margin-bottom: 60px;
    @include mq.tablet {
      margin-bottom: 40px;
    }
    @include mq.sp {
      margin-bottom: 20px;
    }
  }

  &__header {
    position: relative;
    font: fw.$bold 3.5rem ff.$rubik;
    color: color.$white;
    text-align: center;
    line-height: func.getem(35, 70);
    @include mq.tablet {
      font-size: 3rem;
    }

    &--about {
      color: color.$blue-053;
    }
  }

  &__caption {
    font: fw.$regular 1.5rem ff.$opensans;
    color: color.$blue-053;
    text-align: center;
    line-height: func.getem(15, 25);
    @include mq.tablet {
      font-size: 1.4rem;
    }
  }

  &__info-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @include mq.sp {
      flex-direction: column;
      padding: 0 3%;
      gap: 30px 0;
    }
  }

  &__column-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    gap: 0 20px;
    @include mq.sp {
      flex-direction: row;
      width: 100%;
      gap: 0 5%;
    }
  }

  &__label-column {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  &__label {
    font: fw.$medium 1.6rem ff.$spacemono;
    color: color.$blue-053;
    white-space: nowrap;
    @include mq.sp {
      font-size: 1.4rem;
    }
    @include mq.mxN(380px) {
      font-size: 1.2rem;
    }
    @include mq.mxN(320px) {
      font-size: 1.1rem;
    }
  }

  &__data-column {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  &__data {
    font: fw.$semibold 1.6rem ff.$spacemono;
    color: color.$blue-053;
    @include mq.sp {
      font-size: 1.4rem;
    }
    @include mq.mxN(380px) {
      font-size: 1.2rem;
    }
    @include mq.mxN(320px) {
      font-size: 1.1rem;
    }
  }

  &__border {
    border: 2px solid color.$white;
    height: 200px;
    @include mq.sp {
      width: 100%;
      height: unset;
      margin: 0;
      border: 1px solid color.$white;
    }
  }

  &__experience-wrapper {
    width: 40%;
    max-height: 200px;
    padding-right: 20px;
    overflow-y: auto;
    @include mq.sp {
      width: 100%;
    }

    /* Customize scrollbar */
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: color.$primary;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: color.$white;
      border-radius: 2px;
    }
  }

  &__experience-text {
    font: fw.$regular 1.6rem ff.$rubik;
    color: color.$blue-053;
    word-spacing: 0.09em;
    line-height: func.getem(16, 30);
    white-space: pre-line;
    @include mq.sp {
      font-size: 1.4rem;
      text-align: left;
    }
    @include mq.mxN(380px) {
      font-size: 1.2rem;
    }
  }

  &__colored {
    color: color.$blue-053;
    font-weight: fw.$semibold;
  }
}