@use '../settings/color' as color;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.contact {
  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 200px 0 100px;
    @include mq.mx1200 {
      padding: 200px 5% 100px;
    }
    @include mq.tablet {
      padding: 170px 5% 100px;
    }
    @include mq.sp {
      padding: 220px 5% 75px;
    }
  }

  &__heading {
    margin-bottom: 60px;
    @include mq.tablet {
      margin-bottom: 40px;
    }
    @include mq.sp {
      margin-bottom: 20px;
    }
  }

  &__header {
    font: fw.$bold 3.5rem ff.$rubik;
    text-align: center;
    line-height: func.getem(35, 70);
    @include mq.tablet {
      font-size: 3rem;
    }

    &--orange {
      color: color.$primary;
    }
  }

  &__caption {
    font: fw.$regular 1.5rem ff.$opensans;
    color: color.$gray;
    text-align: center;
    line-height: func.getem(15, 25);
    @include mq.tablet {
      font-size: 1.4rem;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    gap: 0 30px;
    @include mq.sp {
      flex-direction: column;
      padding: 0 5%;
      gap: 20px 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 50px 30px;
    background-color: #F3F5F8;
    border-bottom: 4px solid color.$yellow;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,.5), 0 0 0 1px #e6ecf8;
    gap: 20px 0;
    transition: transform 0.3s ease;
    @include mq.sp {
      width: 100%;
      padding: 20px 5%;
      gap: 10px 0;
    }

    &:hover {
      border-bottom: 4px solid color.$orange-ff7;
      transform: translateY(-20px);
      @include mq.tablet {
        transform: translateY(0);
      }
    }
  }

  &__item-icon {
    width: 80px;
    height: 80px;
    @include mq.sp {
      width: 70px;
      height: 70px;
    }
  }

  &__item-title {
    position: relative;
    font: fw.$bold 1.8rem ff.$rubik;
    text-transform: uppercase;
    text-align: center;
    @include mq.sp {
      font-size: 1.6rem;
    }

    &::after {
      content: "";
      display: flex;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      margin-top: 15px;
      border: 1px solid color.$gray-b7b;
    }
  }

  &__item-detail {
    font: fw.$regular 1.8rem ff.$rubik;
    color: color.$gray;
    text-align: center;
    @include mq.sp {
      font-size: 1.4rem;
    }
  }
}