@use '../settings/color' as color;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: color.$oasis;
  z-index: 1;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: calc(1000px + 10%);
    width: 100%;
    height: 80px;
    margin: 0 auto;
    @include mq.mx1200 {
      padding: 20px 5%;
    }
    @include mq.tablet {
      flex-direction: column;
      align-items: flex-start;
      height: unset;
    }
  }

  &__logo {
    display: inline-block;
    width: 150px;
    height: auto;
    @include mq.tablet {
      width: 120px;
      max-width: 100%;
    }
    @include mq.sp {
      width: 100px;
    }
  }

  &__link-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @include mq.tablet {
      flex-direction: column;
      display: none;
      justify-content: unset;
      width: 100%;
      margin-top: 10px;
      padding-left: 10px;
      gap: 20px 0;
    }
  }

  &__link-item {
    position: relative;
    display: inline-block;
    @include mq.tablet {
      width: 100%;
    }

    &::after {
      @include mq.tablet {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        border: 1px dotted color.$gray-b7b;
      }
    }

    &:not(:last-child) {
      margin-right: 40px;
      @include mq.tablet {
        margin-right: 0;
      }
    }
  }

  &__link-name {
    position: relative;
    font: fw.$semibold 1.5rem ff.$rubik;
    text-transform: uppercase;
    color: color.$blue-053;
    @include mq.sp {
      font-size: 1.3rem;
    }

    &--active {
      color: color.$orange-ff6;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -10px;
        border: 1px solid;
        @include mq.tablet {
          border: unset;
        }
      }
    }

    &:hover {
      color: color.$orange-ff6;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -10px;
        border: 1px solid;
      }
    }
  }

  &__hamburger-menu {
    position: absolute;
    top: 30px;
    right: 50px;
    display: none;
    gap: 5px 0;
    @include mq.tablet {
      display: flex;
      flex-direction: column;
    }
    @include mq.sp {
      right: 30px;
    }
  }

  &__hamburger-line {
    width: 30px;
    border: 2px solid color.$blue-053;
    transition: all 200ms linear;
  }

  &__hamburger-line.active {
    &:first-child {
      position: relative;
      top: 10px;
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      position: relative;
      bottom: 6px;
      transform: rotate(45deg);
    }
  }
}