@use '../settings/color' as color;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.main-visual {
  position: relative;

  &::before {
    content: "PERRY";
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(5%, -50%);
    font: fw.$bold 20rem ff.$rubik;
    color: rgba(color.$gray-b7b, 0.3);
    z-index: -1;
    @include mq.mx1200 {
      left: -15%;
    }
    @include mq.tablet {
      display: flex;
      justify-content: center;
      width: 100%;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 15rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 80px auto 0;
    padding: 5% 0 150px;
    @include mq.mx1200 {
      margin-top: 80px;
      padding: 5% 5% 150px;
    }
    @include mq.tablet {
      padding-bottom: 80px;
    }
    @include mq.sp {
      padding-bottom: 60px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq.tablet {
      flex-direction: column-reverse;
    }
  }

  &__profile {
    width: 50%;
    flex-grow: 1;
    @include mq.tablet {
      margin-top: 40px;
    }
    @include mq.sp {
      width: 100%;
      margin-top: 50px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    width: 100%;
    @include mq.sp {
      gap: 10px 0;
    }
  }

  &__hello {
    position: relative;
    font: fw.$medium 3rem ff.$rubik;
    @include mq.tablet {
      font-size: 2.5rem;
    }
    @include mq.sp {
      font-size: 2rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 50%;
      border: 1px solid color.$gray;
      margin-left: 15px;
      @include mq.tablet {
        width: 300px;
      }
      @include mq.sp {
        width: 35%;
        margin-left: 5px;
      }
    }
  }

  &__name {
    font: fw.$bold 6rem ff.$rubik;
    @include mq.tablet {
      font-size: 5rem;
    }
    @include mq.sp {
      font-size: 4rem;
    }

    &--orange {
      color: color.$primary;
    }
  }

  &__role {
    font: fw.$medium 4rem ff.$rubik;
    color: color.$gray;
    @include mq.tablet {
      font-size: 3rem;
    }
    @include mq.sp {
      font-size: 2.5rem;
    }
  }

  &__links {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 0 15px;
    @include mq.tablet {
      margin-top: 20px;
    }
    @include mq.sp {
      gap: 0 15px;
    }
  }

  &__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 8px 8px 15px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: 0.2s ease;
    @include mq.sp {
      width: 30px;
      height: 30px;
    }

    &:hover {
      transform: translateY(-8px);
    }
  }

  &__button-container {
    display: flex;
    margin-top: 40px;
    gap: 0 20px;
    @include mq.tablet {
      flex-direction: column;
      margin-top: 30px;
      gap: 14px 0;
    }
  }

  &__get-cv {
    display: inline-block;
    width: 120px;
    padding: 12px;
    font: fw.$bold 1.6rem ff.$spacemono;
    color: color.$black;
    text-align: center;
    word-spacing: -5px;
    background-color: transparent;
    border: 2px solid color.$orange-ff6;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    cursor: pointer;
    transition: 0.2s ease-out;
    @include mq.tablet {
      width: 100%;
      padding: 15px 3%;
      font-size: 1.6rem;
    }
    @include mq.sp {
      padding: 10px 3%;
      font-size: 1.4rem;
    }

    &:hover {
      background-color: color.$orange-ff6;     
      color: color.$white;
      box-shadow: 4px 4px 0 rgba(color.$black, 0.8);
      transform: translate(-4px,-4px);
    }
  }

  &__hire-me {
    width: 120px;
    padding: 12px;
    font: fw.$bold 1.6rem ff.$spacemono;
    color: color.$black;
    word-spacing: -5px;
    background-color: transparent;
    border: 2px solid color.$orange-ff6;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    cursor: pointer;
    transition: 0.2s ease-out;
    @include mq.tablet {
      width: 100%;
      padding: 15px 3%;
      font-size: 1.6rem;
    }
    @include mq.sp {
      padding: 10px 3%;
      font-size: 1.4rem;
    }

    &:hover {
      background-color: color.$orange-ff6;     color: color.$white;
      box-shadow: 4px 4px 0 rgba(color.$black, 0.8);
      transform: translate(-4px,-4px);
    }
  }

  &__main-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    @include mq.tablet {
      width: 200px;
      height: 200px;
    }
    @include mq.sp {
      width: 100%;
      max-width: 200px;
    }
  }
}
