@use '../settings/color' as color;
@use '../settings/font-family' as ff;
@use '../settings/font-weight' as fw;
@use '../tools/media-queries' as mq;
@use '../tools/function' as func;

.portfolio {
  position: relative;

  &__container {
    background-color: color.$orange-f7b;
    border-radius: 20px 20px 0 0;
  }

  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0 200px;
    @include mq.mx1200 {
      padding: 100px 5% 200px;
    }
    @include mq.tablet {
      max-width: 100%;
      padding: 50px 5% 200px;
    }
    @include mq.sp {
      padding: 50px 5% 240px;
    }
  }

  &__heading {
    margin-bottom: 80px;
    @include mq.tablet {
      margin-bottom: 40px;
    }
    @include mq.sp {
      margin-bottom: 20px;
    }
  }

  &__header {
    font: fw.$bold 3.5rem ff.$rubik;
    color: color.$white;
    text-align: center;
    line-height: 2em;
    @include mq.tablet {
      font-size: 2.8rem;
    }
    @include mq.sp {
      font-size: 2.2rem;
    }
  }

  &__caption {
    font: fw.$regular 1.5rem ff.$opensans;
    color: color.$blue-053;
    text-align: center;
    @include mq.tablet {
      font-size: 1.3rem;
    }
    @include mq.sp {
      font-size: 1.1rem;
    }
  }

  &__content-list {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0 40px;
    @include mq.tablet {
      gap: 0 3%;
    }
    @include mq.sp {
      flex-direction: column;
      gap: 25px 0;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding: 50px 20px;
    background-color: color.$white;
    border-radius: 10px;
    box-shadow: 10px 10px 2px 0px rgba(243,238,233,.66);
    -webkit-box-shadow: 10px 10px 2px 0px rgba(243,238,233,.66);
    -moz-box-shadow: 10px 10px 2px 0px rgba(243,238,233,.66);
    @include mq.tablet {
      width: 30%;
      padding: 20px 3%;
    }
    @include mq.sp {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: 0 4%;
    }

    &:hover .portfolio__overlay {
      width: 100%;
    }
  }

  &__work-logo {
    width: 200px;
    height: 70px;
    margin-bottom: 30px;
    @include mq.tablet {
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
    }
    @include mq.sp {
      width: 40%;
      margin-bottom: 0;
    }
  }

  &__work-description {
    font: fw.$regular 1.5rem ff.$opensans;
    color: color.$gray;
    text-align: center;
    line-height: func.getem(15, 30);
    @include mq.tablet {
      font-size: 1.3rem;
    }
    @include mq.sp {
      flex-grow: 1;
      width: 30%;
      font-size: 1.1rem;
      text-align: right;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(color.$orange-ff7, 0.9);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s ease;

    &--progress {
      background-color: rgba(color.$gray, 0.9);
    }
  }

  &__link {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font: fw.$bold 1.6rem ff.$spacemono;
    text-align: center;
    word-spacing: -5px;
    background-color: color.$orange-f7b;     
    color: color.$black;
    border-radius: 30px;
    box-shadow: 4px 4px 0 rgba(color.$black, 0.8);
    translate: -4px,-4px;
    cursor: pointer;
    transition: 0.2s ease-out;
    @include mq.tablet {
      padding: 8px 15px;
    }

    &:hover {
      background-color: color.$oasis;     
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      translate: 0, 0;
    }

    &:hover .portfolio__visit {
      color: color.$black;
    }

    &--development {
      background-color: color.$gray;
      @include mq.tablet {
        border: 2px solid color.$gray-b7b;
        background-color: color.$gray-b7b;
      }

      &:hover {
        background-color: color.$gray-b7b;
      }

      &:hover .portfolio__visit {
        color: color.$white;
      }
    }
  }

  &__visit {
    font: fw.$medium 1.4rem ff.$spacemono;
    color: color.$white;
    white-space: nowrap;
    @include mq.sp {
      font-size: 1.2rem;
    }
  }

  &__hire-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    @include mq.mx1200 {
      max-width: 100%;
      padding: 0 5%;
      left: unset;
      transform: translateX(0);
    }
    @include mq.sp {
      bottom: -170px;
    }
  }

  &__hire-content {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: color.$orange-ff7;
    border-radius: 20px;
    gap: 0 50px;
    @include mq.sp {
      flex-direction: column;
      padding: 20px 5%;
    }
  }

  &__hire-image {
    width: 170px;
    height: 170px;
    @include mq.sp {
      width: 120px;
      height: auto;
    }
  }

  &__hire-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    @include mq.mx1200{
      width: 50%;
    }
    @include mq.sp {
      width: 100%;
    }
  }

  &__hire-title {
    margin-bottom: 10px;
    font: fw.$bold 3.5rem ff.$spacemono;
    color: color.$white;
    text-align: center;
    @include mq.sp {
      font-size: 2.8rem;
    }
  }

  &__hire-caption {
    font: fw.$regular 1.6rem ff.$spacemono;
    color: color.$white;
    text-align: center;
    @include mq.sp {
      font-size: 1.4rem;
    }
  }

  &__hire-link {
    display: inline-block;
    padding: 10px 30px;
    font: fw.$bold 1.6rem ff.$spacemono;
    text-align: center;
    word-spacing: -5px;
    background-color: color.$orange-f7b;     
    color: color.$black;
    border-radius: 30px;
    box-shadow: 4px 4px 0 rgba(color.$black, 0.8);
    transform: translate(-4px,-4px);
    cursor: pointer;
    transition: 0.2s ease-out;
    @include mq.tablet {
      margin-top: 30px;
      padding: 10px 20px;
    }

    &:hover {
      background-color: color.$oasis;     
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
      transform: translate(0, 0);
    }

    &:hover .portfolio__hire-message {
      color: color.$black;
    }
  }

  &__hire-message {
    font: fw.$medium 1.6rem ff.$spacemono;
    color: color.$white;
    white-space: nowrap;
    @include mq.sp {
      font-size: 1.4rem;
    }
  }
}